.header {
  background-color: #ba9a8e;
  background-image: linear-gradient(315deg, #ba9a8e 0%, #96705b 74%);
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
